@import 'variables';

.navbar {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    max-width: 1200px;
    margin: 0 auto;
    
    .logo img{
        height: 50px;
        
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        li {
            margin: 0px 10px;
            cursor: pointer;
            color: $color-one;
            font-weight: 700;
            transition: color 0.3s ease;
        }:hover {
            color: $color-five;
        }
    }
    .search {
        button {
            border: none;
            background-color: $color-one;
            padding: 6px 12px;
            color: $color-two;
            border-radius: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: color 0.3s ease, background-color 0.3s ease;
        }:hover {
            color: $color-four;
            background-color: $color-five;
        }
    }

    .icon-search img{
        width: auto;
        margin-right: 3px;
    }
}
.logo {

    img {
        width: 130px;
        height: auto;
        cursor: pointer;
    }
}
