<header class="flex justify-between items-center max-w-[1170px] mx-auto h-25">
    <img width="140" src="../static/app/img/logo1.png" alt="">
    <nav class="uppercase md:flex-row md:items-center">
        <ul class="flex flex-wrap justify-between font-bold items-center gap-4 text-xs">
            {% for name, url in firstnav_items.items %}
            <li class="whitespace-nowrap">
                <a href="{{ url }}" class="hover:text-blue-500 transition-colors">{{ name }}</a>
            </li>
            {% endfor %}
            <li class="bg-[#EE1D7A] h-9 flex justify-center items-center text-white px-3">
                <a href="">JOIN DAN</a>
            </li>
        </ul>
        <hr class="border-gray-200 sm:mx-auto dark:border-gray-700" />
        <ul class="flex flex-wrap justify-center items-center gap-4 font-bold h-15">
            {% for name, url in secondnav_items.items %}
            <li class="whitespace-nowrap">
                <a href="{{ url }}" class="flex hover:text-blue-500 transition-colors">{{ name }}
                    <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
