
<section>
    <div class="flex flex-col gap-6 pt-25 w-150 ">
        <h1 class="text-6xl font-semibold text-[#131529] space-2 ">Powering Digital <br> Partnerships</h1>
        <p class="text-[#5C5C5C] text-xl font-semibold">
            Connect with the world’s top digital marketing agencies. DAN simplifies 
            the process of finding the perfect agency partner to grow your business.
        </p>
        <div class="flex gap-4">
            <aside class="flex flex-col gap-4">
                <h1 class="text-2xl font-semibold">Brands</h1>
                <p class="text-[#5C5C5C]">Post your project on DAN Marketplace, get matched with top-tier agencies.</p>
                <button class="bg-[#EE1D7A] text-white px-5 py-3 rounded-lg uppercase font-bold text-sm">Find your Agency <span>icon</span></button>
            </aside>
            <aside class="flex flex-col gap-4">
                <h1 class="text-2xl font-semibold">Agencies</h1>
                <p class="text-[#5C5C5C]">Get listed on Digital Agency Network, connect with your new clients.</p>
                <button class="text-[#EE1D7A] px-5 py-3 rounded-lg border-2 uppercase font-bold text-sm">join the Network <span>icon</span></button>
            </aside>
        </div>
    </div>
    <div class="fixed top-20 right-0">
        <img width="600" src="../static/app/img/main-foto.jpg" alt="marketing-img-main">
    </div>
</section>
