{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>
<body>
    <div class="bg-[#FAFAFA]">
        {% include 'header.html'%}
    </div>
    <main class="max-w-[1170px] mx-auto">
        {% include 'home.html' %}
    </main>
</body>
</html>
